<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet" />
  
    <link rel="stylesheet" href="../Content/assets/css/style-starter.css" />


</head>
<body>


    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand" href="#">
                        <img class="img-fluid" src="../Content/assets/images/logo.png" alt=" "> Online Study
                    </a>
                </h1>
                <!-- if logo is image enable this
                <a class="navbar-brand" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link">@Html.ActionLink("Home", "Index", "Home") <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">@Html.ActionLink("About", "About", "Home")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">@Html.ActionLink("Cources", "Cources", "Home")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">@Html.ActionLink("Registration", "Registration", "Home")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">@Html.ActionLink("Login", "Login", "Home")</a>
                        </li>
                        
                        <div class="search-right">
                            <a href="#search" class="btn button-style" title="search">Search</a>
                            
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h4 class="search-pop-text-w3 text-white text-center mb-4">
                                        Search Here Your
                                        Online Course
                                    </h4>
                                    <form action="#error" method="GET" class="search-box">
                                        <div class="input-search">
                                            <span class="fa fa-search mr-2"
                                                  aria-hidden="true"></span><input type="search"
                                                                                   placeholder="Enter Keyword" name="search" required="required"
                                                                                   autofocus="">
                                        </div>
                                        <button type="submit" class="btn button-style">Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                           
                        </div>
                    
                    </ul>
                </div>
               
                <div class="cont-ser-position">
                    <nav class="navigation"></nav>
                        <div class="theme-switch-wrapper"></div>
                            <label class="theme-switch" for="checkbox"></label>
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                               
                            
                        </div>
                    </nav>
                </div>
                
                
           
       
        
    </header>
  
    <section id="home" class="w3l-banner py-5">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-center">
                <div class="col-md-6 banner-left pt-md-0 pt-5">
                    <h3 class="mb-sm-4 mb-3 title">
                        This is the new way<br> to Learn <span class="type-js">
                            <span class="text-js">Online</span>
                        </span>
                    </h3>
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                        <a class="btn button-style" href="about.html">
                            Get Started<i class="fa fa-angle-double-right"
                                          aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 banner-right mt-md-0 mt-4">
                    <img class="img-fluid" src="../Content/assets/images/b1.png" alt=" ">
                </div>
            </div>
        </div>
    </section>

    <div>
        @RenderBody()
    </div>


    <footer class="w3l-footer-22 position-relative mt-5 pt-5">
        <div class="footer-sub">
            <div class="container">
                <div class="text-txt">
                    <div class="right-side text-center">
                        <h4>Do you want to our best popular online courses</h4>
                        <a class="btn button-style mt-4" href="#">
                            Get Started<i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="row sub-columns">
                        <div class="col-lg-4 col-md-6 col-sm-8 sub-one-left">
                            <h6>About </h6>
                            <p>
                                Online Study School
                            </p>
                            <div class="columns-2">
                                <ul class="social">
                                    <li>
                                        <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                    </li>
                                    <li>
                                        <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                                    </li>
                                    <li>
                                        <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                    </li>
                                    <li>
                                        <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                    </li>
                                    <li>
                                        <a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-4 mt-sm-0 mt-5 sub-two-right">
                            <h6>Quick links</h6>
                            <ul>
                                <li>
                                    <a href="#"><span class="fa fa-angle-double-right mr-2"></span>Home</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-angle-double-right mr-2"></span>About</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-angle-double-right mr-2"></span>Courses
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-angle-double-right mr-2"></span>Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                            <h6>Help & Support</h6>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-angle-double-right mr-2"></span>Live
                                        Chart
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-angle-double-right mr-2"></span>Faq</a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-angle-double-right mr-2"></span>Support</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-angle-double-right mr-2"></span>Terms
                                        of Services
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6 sub-one-left mt-lg-0 mt-sm-5 mt-4">
                            <h6>Contact </h6>
                            <div class="column2">
                                <div class="href1">
                                    <span class="fa fa-envelope-o" aria-hidden="true"></span><a href="#">onlinestudyschool111@gmail.com</a>
                                </div>
                                <div class="href2">
                                    <span class="fa fa-phone" aria-hidden="true"></span><a href="#">+91 9998887776</a>
                                </div>
                                <div>
                                    <p class="contact-para">
                                        <span class="fa fa-map-marker"
                                              aria-hidden="true"></span>Surat City, INDIA.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright-footer text-center">
            <div class="container">
                <div class="columns">
                    <p>
                        2023 Online Study School. All rights reserved. Developed by <a href="#" target="_blank"> Jayesh Ahir</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- //copyright -->
    </footer>
    <!-- //footer -->
    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script type="text/javascript">
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <!-- common jquery plugin -->
    <script type="text/javascript" src="../Content/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->
    <!-- theme switch js (light and dark)-->
    <script type="text/javascript" src="../Content/assets/js/theme-change.js"></script>
    <script type="text/javascript">
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the
            // class of outer div
            // The second paramter is the speed between each letter is typed.
            autoType(".type-js", 200);
        });
    </script>
  
    <script type="text/javascript" src="../Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    
    <script type="text/javascript">
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

    
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
   
    <script type="text/javascript" src="../Content/assets/js/owl.carousel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: true,
                        loop: true
                    }
                }
            })
        })
    </script>
  
    <script type="text/javascript">
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    
   
    <script type="text/javascript" src="../Content/assets/js/bootstrap.min.js"></script>
    


</body>
</html>
